<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="New_saad_databaseEntities" connectionString="metadata=res://*/Mydata.csdl|res://*/Mydata.ssdl|res://*/Mydata.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.134.1;initial catalog=New_saad_database;persist security info=True;user id=m.abbas;password=7ePbtsmMtN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Saad_MyDatabaseEntities" connectionString="metadata=res://*/real.csdl|res://*/real.ssdl|res://*/real.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.134.1;initial catalog=Saad_MyDatabase;persist security info=True;user id=m.abbas;password=7ePbtsmMtN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="newsaadDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.134.1;initial catalog=saadDB;persist security info=True;user id=m.abbas;password=7ePbtsmMtN;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>